<!DOCTYPE HTML>
<html>
<head> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Content-Security-Policy" content="default-src * data:; style-src * 'unsafe-inline'; script-src * 'unsafe-inline' 'unsafe-eval'">
    <script src="components/loader.js"></script>
    <script src="js/x2js.js"></script>
    <script src="js/uuid.js"></script>
    <script src="js/index.js"></script>
    <link rel="stylesheet" href="components/loader.css" />
    <link rel="stylesheet" href="css/webfonts/webfonts.css" />
    <link rel="stylesheet" href="css/style.css" />
    
</head>
<body ng-app="genny">
    <ons-tabbar var="tabbar" ng-controller="TabbarCtrl">
        <ons-tab page="home.html"       label="Home"        icon="ion-home" active="true" no-reload persistent></ons-tab>
        <ons-tab page="dice_bag.html"   label="Dice Bag"    icon="ion-bag"></ons-tab>
        <ons-tab page="characters.html" label="Characters"  icon="ion-person-stalker" no-reload persistent></ons-tab>
        <ons-tab page="name_lists.html" label="Name Lists"  icon="ion-clipboard"></ons-tab>
        <ons-tab page="settings.html"   label="Settings"    icon="ion-settings"></ons-tab>
    </ons-tabbar>
    
    <ons-template id="home.html">
        <ons-page ng-controller="HomePageCtrl" class="home-page">
            <ons-toolbar>
                <div class="center">Home</div>
            </ons-toolbar>
            <div class="app-title">
                <div>&nbsp;</div>
                <h1 class="heartbeat">Genny</h1>
                <p>v{{genny.version.full}}</p>
            </div>
        </ons-page>
    </ons-template>
    
    <ons-template id="dice_bag.html">
        <ons-page ng-controller="DiceBagCtrl">
            <ons-toolbar>
                <div class="center">Dice Bag</div>
            </ons-toolbar>
            <div class="diceRolling">
                <h1 class="resultSum">{{diceRoll.result}}</h1>
                <p class="resultRoll">
                    <span ng-repeat="die in diceRoll.roll" class="{{die[0]}}" >{{die[2]}}</span>
                </p>
                <p class="rollInput">
                    <ons-input type="text" ng-model="diceRoll.string" placeholder="standard dice string" float modifier="underbar"></ons-input>
                    <ons-button ng-click="rollIt()">Roll</ons-button>
                </p>
            </div>
        </ons-page>
    </ons-template>
    
    <ons-template id="characters.html">
        <ons-page ng-controller="CharacterPageCtrl">
            <ons-navigator>
                <ons-page>
                    <ons-toolbar>
                        <div class="center">Characters</div>
                    </ons-toolbar>
                    <div class="characterFlow">
                        <div class="characterBlock" ng-click="newCharacter()"><ons-icon icon="fa-plus" size="5x"></ons-icon></div>
                        <div class="characterBlock" ng-repeat="character in characters track by character.id"></div>
                        <div class="characterBlock"></div>
                    </div>
                </ons-page>
            </ons-navigator>
        </ons-page>
    </ons-template>

    <ons-template id="characterSheet.html">
        <ons-page>
            <ons-toolbar>
                
            </ons-toolbar>
            <ons-carousel>
                <ons-carousel-item>
                    <div class="charPage1">
                        
                    </div>
                    <div class="charPage1">
                        
                    </div>
                    <div class="charPage1">
                        
                    </div>
                </ons-carousel-item>
            </ons-carousel>
        </ons-page>
    </ons-template>

    <ons-template id="name_lists.html">
        <ons-page ng-controller="NameListsCtrl">
            <ons-toolbar>
                <div class="center">Name Lists</div>
            </ons-toolbar>
            <div class="nameGen">
                <p>{{name}}</p>
                <ons-button ng-click="getName()">Generate Name</ons-button>
            </div>
        </ons-page>
    </ons-template>
    
    <ons-template id="settings.html">
        <ons-toolbar>
            <div class="center">Settings</div>
        </ons-toolbar>
    </ons-template>
    
</body>
</html>




