

.home-page .page__content {
    display: flex;
}

.app-title {
    margin: auto;
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: center;
    user-select: none;
    cursor: default;
}

.app-title * {
    flex: 0 1 50%;
    padding: 5px;
    font-size: .75em;
}

.app-title h1 {
    flex: 0 0 auto;
    font-family: hobbitonbrushhand;
    font-size: 4em;
    color: #060;
}

.diceRolling {
    display: flex;
    width: 100%;
    height: 100%;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
}

.diceRolling .resultSum, .diceRolling .resultRoll {
    flex: 1 0 auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: flex-start;
    justify-content: center;
    /*background-color: silver;*/
}

.diceRolling .resultSum {
    font-size: 5em;
}
.diceRolling .resultRoll {
    font-size: 2em;
}

.diceRolling .rollInput {
    flex: 0 0 auto;
}

.nameGen {
    display: flex;
    width: 100%;
    height: 100%;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.heartbeat {
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-name: heartbeat;
}

@keyframes heartbeat {
    0%{     transform: scale(1.00); }     /* baseline */
    1%{     transform: scale(1.00); }     /* baseline */
    5%{     transform: scale(1.005); }     /* baseline */
    10%{    transform: scale(1.00); }     /* baseline */
    15%{    transform: scale(0.995); }     /* baseline */
    20%{    transform: scale(1.00); }     /* baseline */
    25%{    transform: scale(1.00); }     /* baseline */
    30%{    transform: scale(1.005); }     /* baseline */
    35%{    transform: scale(0.995); }     /* baseline */
    40%{    transform: scale(1.00); }     /* baseline */
    45%{    transform: scale(1.00); }     /* pre-beat start */
    47.5%{  transform: scale(1.02); }     /* pre-beat apex */
    52.5%{  transform: scale(1.00); }     /* pre-beat end */
    60%{    transform: scale(1.14); }     /* beat start */
    63.75%{ transform: scale(0.95); }     /* beat high */
    67.5%{  transform: scale(1.00); }     /* beat low */
    70%{    transform: scale(1.00); }     /* beat end */
    80%{    transform: scale(1.05); }     /* sub-beat start */
    92.5%{  transform: scale(0.99); }     /* sub-beat apex */
    100%{   transform: scale(1.00); }     /* sub-beat end */
}

.characterFlow {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    /*align-items: flex-start;*/
    align-content: space-around;
}

.characterBlock {
    background-color: #999;
    margin: 10px;
    width: 120px;
    height: 160px;
    /*width: 135px;*/
    /*height: 240px;*/
    flex: 0 0 auto;
    
}

.characterBlock:first-of-type {
    order: -1;
    display: flex;
    opacity: 0.25;
}

.characterBlock:first-of-type > ons-icon {
    margin: auto;
    color: #fff;
}

.characterBlock:last-of-type {
    order: 9999;
    visibility: hidden;
    height: 1px;
}






/*.heart {
    font-size: 150px;
	color: #e00;
	-webkit-animation: beat .25s infinite alternate;
	-moz-animation: beat .25s infinite alternate;
	-ms-animation: beat .25s infinite alternate;
	-o-animation: beat .25s infinite alternate;
	animation: beat .25s infinite alternate;
	-webkit-transform-origin: center;
	-moz-transform-origin: center;
	-o-transform-origin: center;
	-ms-transform-origin: center;
	transform-origin: center;
}
@keyframes "beat" {
 to {
    -webkit-transform: scale(1.4);
   	-moz-transform: scale(1.4);
   	-o-transform: scale(1.4);
   	-ms-transform: scale(1.4);
   	transform: scale(1.4);
 }
}
@-moz-keyframes beat {
 to {
   -moz-transform: scale(1.4);
   transform: scale(1.4);
 }
}
@-webkit-keyframes "beat" {
 to {
   -webkit-transform: scale(1.4);
   transform: scale(1.4);
 }
}
@-ms-keyframes "beat" {
 to {
   -ms-transform: scale(1.4);
   transform: scale(1.4);
 }
}
@-o-keyframes "beat" {
 to {
   -o-transform: scale(1.4);
   transform: scale(1.4);
 }
} */